body
{
    background-image: url("/images/david-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: 0px;
}
.add-body{
    background-image: url("/images/book-open.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.login{
        width: 30%;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 40px;
        border-radius: 15px ;
        border: 2px solid red;
        box-shadow: 10px 10px 10px 5px darkred;

}
h2{
    
    text-align: center;
    color: #fcf3f3;
    text-shadow: 4px 4px rgb(122, 105, 104);
    font-size: 30px;
    font-style: italic;
    font-family:cursive;
    margin-left: 400px;
}
label{
    color: #d0ece5;
    font-size: 17px;
    font-family: cursive;
}
#username,#password{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    font-family: cursive;
}
.connect{
    background-color: rgb(246, 246, 250);
    color:rgb(24, 23, 23);
    border-radius: 3px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px grey ;
}

#log{
    width: 60%;
    padding: 10px;
    background-color: #da0707;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 4px grey;
    font-size: 20px;
    margin-left: 17%;
}

#log:active{
    background-color: rgb(17, 17, 54);
}

a{
    float: right;
    background-color: grey;
}
/* label{
    color: white;
} 
 Blog Page */

#title, #content{
        width: 100%;
        border: none;
        border-radius: 5px;
        padding-left: 8px;
        font-family: cursive;
    
    }
    #title{
        height: 45px;
    }

    #addblog{
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #da0707;
    color: white;
    box-shadow: 4px 4px 4px grey;
    margin-left: 20%;
    font-size: 100%;
    cursor: pointer;
    }

    #addblog:active{
        background-color: darkred;
    }

    #add-section{
        width:40%;
    }

    /* ================================================================================== */
    .navbar{
        background: crimson;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-right: 15px;
        padding-left: 15px;
    }
    .navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    }
    .logo{
        font-size: 35px;
        font-weight: 600;
        color: white;
    }
    li{
        list-style: none;
        display: inline-block;
    }
    li a{
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin-right: 25px;
        border-radius: 10px;
        padding: 5px;
    }