* {
  box-sizing: border-box;
}

#abc {
  
  height: 100vh;
  width: 100%;
  margin: 0px;

  /* background-image: url("/images/david-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

}

h2 {

  text-align: center;
  color: #fcf3f3;
  text-shadow: 4px 4px rgb(122, 105, 104);
  font-size: 30px;
  font-style: italic;
  font-family: cursive;
  margin-left: 40px;
  display: inline;
}

#heading{
  font-size: 30px;
  margin: auto;
}

.bloglist {
  float: right; 
  width: 65%;
  height: 90%;
  overflow:hidden;
  justify-content: center;
  margin:0px;
  padding: 30px;

  background-image: url("/images/david-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#table{
  width: 80%;
  margin-top: 30px;
}

#refLink {
  font: italic small-caps bold 18px/30px Caprasimo, cursive;
  color: antiquewhite;
  margin-left: 8px;

}

#authorName {
  font: italic normal bold 18px/30px Caprasimo, cursive;
  color: white;
  margin-left: 8px;

}

nav {
  width: 100%;
  height: 80px;
  background-color: rgba(14, 12, 12, 0.904);
  line-height: 45px;
}

nav ul {
  float: right;
  margin-right: 30px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}

nav ul li:hover {
  background-color: #088;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 30px;
}


#myDiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#myDiv1{
  flex:1;
  background-image: url("/images/blog-post-animate.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#blogBody{
  flex: 2;
  background-color: rgb(51, 30, 51);
  padding: 10px 20px 10px 25px;
  color: #fff;
}

#blogTitle,#title{
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  font-size: larger;
  color: aqua;
  font-size: x-large;
}
#blogAuthor,#author{
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  font-size: larger;
  color: rgb(248, 191, 116);
  font-size: x-large;
}
#blogDetails{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img{
  width: 30%;
}